// font-family: 'Poppins', sans-serif;
// font-family: 'IBM Plex Mono', monospace;

$background-dark-1: #151515;
$background-dark-2: #1a1a1a;

$color-white: rgb(239, 234, 240);

$color-black: #101010;

$color-grey-light: #c5c5c5;
$color-grey-darker: rgb(113, 113, 113);
$color-grey-dark: rgb(80, 80, 80);

$color-blue-light: rgb(96, 136, 255);
$color-blue-dark: rgb(26, 52, 131);

$color-orange-light: rgb(246, 112, 63);

$color-red-light: rgb(234, 99, 99);
$color-red-dark: rgb(128, 0, 0);

/**************************/

$navHeight: 60px;
$fullHeight: calc(100vh - 60px);

/**************************/


/* ABSOLUTE WITH PARAMS */
@mixin Absolute($left, $top) {
   position: absolute;
   left: $left;
   top: $top;
}

/* WIDTH, HEIGHT 100% */
@mixin FullSize {
   width: 100%;
   height: 100%;
}

/* ABSOLUTE -50 50- AND TRANSLATE */
@mixin Absolute50Translate {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

/********** CLAMP **********/

/* WIDTH AND HEIGHT CLAMP TOGETHER - SAME VALUE */
@mixin Clamp($minPx, $vw, $maxPx) {
   height: clamp(#{$minPx}px, #{$vw}vw, #{$maxPx}px);
   aspect-ratio: 1;
}

/* FONT SIZE CLAMP */
@mixin ClampFont($minRem, $vw, $maxRem) {
   font-size: clamp(#{$minRem}rem, #{$vw}vw, #{$maxRem}rem);
}

/**************************/

/********** FLEX **********/

/* SPACE BETWEEN | CENTER */
@mixin Flex-sb-c {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin Flex-sb-none {
   display: flex;
   justify-content: space-between;
}

@mixin Flex-sa-c {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@mixin Flex-sa-none {
   display: flex;
   justify-content: space-around;
}

@mixin Flex-c-c {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin Flex-none-c {
   display: flex;
   align-items: center;
}

@mixin Flex-c-none {
   display: flex;
   align-items: center;
}

/**************************/