// font-family: 'Poppins', sans-serif;
// font-family: 'IBM Plex Mono', monospace;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

body {
   min-height: 100vh;
   background: #151515;
   width: 100vw;
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;

   &::-webkit-scrollbar {
      width: 5px;
      background: black;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: rgb(128, 0, 0);
      border-radius: 1em;
   }

   div.back {
      position: absolute;
      left: -5%;
      top: 50%;
      width: 150%;
      height: 70%;
      background: #131313;
      border-radius: 0 5em 5em 0;
      transform: translateY(-50%) rotate(-15deg);
   }
}