@import './config';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

div.App {
   // overflow-x: hidden;
}

body {
   min-height: 100vh;
   background: #151515;
   width: 100vw;
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;

   &::-webkit-scrollbar {
      width: 5px;
      background: black;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: rgb(128, 0, 0);
      border-radius: 1em;
   }

   div.back {
      position: absolute;
      left: -5%;
      top: 50%;
      width: 150%;
      height: 70%;
      background: #131313;
      border-radius: 0 5em 5em 0;
      transform: translateY(-50%) rotate(-15deg);
   }

   div.layout-arrow-scroll {
      position: fixed;
      right: 5px;
      bottom: 5px;
      @include Clamp(25, 8, 35);
      background: #353535;
      border-radius: .25em;
      cursor: pointer;
      opacity: 0;
      transition: .5s;

      svg {
         @include FullSize;
         color: $color-grey-light;
         transition: .3s;
      }

      &:hover {
         background: #454545;
         svg { transform: rotate(360deg); }
      }
   }
}