@import '../config';

section.layout-hidden-menu {
   position: absolute;
   background: rgba(0, 0, 0, .6);
   top: 100%;
   left: 0;
   width: 100%;
   max-width: 100%;
   height: calc(100vh - 100%);
   z-index: 999999;
   opacity: 0;
   transition: .3s;
   pointer-events: none;

   aside.layout-hidden-menu {
      background: #161616;
      border: 1px solid #353535;
      border-radius: 0 0 .5em 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 330px;
      max-width: 100%;
      transform: translateX(-150%);
      transition: .3s;

      ul {
         list-style: none;

         li.icons {
            @include Flex-c-c;
            padding: 1em 0;

            span {
               @include Clamp(25, 10, 35);
               margin: 0 .5em;
               transition: .3s;
               cursor: pointer;

               svg {
                  width: 100%;
                  height: 100%;
               }

               &:hover {
                  color: $color-grey-dark;
                  transform: scale(.8);
               }
            }
         }

         li:not(.icons) {
            &.separate {
               width: calc(100% - 60px);
               margin: 0 0 0 auto;
               height: 1px;
               background: $color-red-dark;
            }

            a {
               display: block;
               color: $color-grey-light;
               text-decoration: none;
               transition: .3s;
               @include Flex-none-c;
               font-size: clamp(.8rem, 3vw, 1rem);

               span {
                  width: 60px;
                  height: 60px;
                  background: #121212;
                  @include Flex-c-c;
                  margin-right: 1em;
                  transition: .3s;

                  svg {
                     width: 30%;
                     height: 30%;
                  }
               }

               &:hover {
                  background: $color-black;
                  color: $color-white;
                  span { background: $color-blue-dark; }
               }
            }
         }
      }
   }
}