@import '../config';

nav.layout-nav {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   color: $color-white;
   z-index: 9;
   @include Flex-sb-c;
   padding: 1.25em clamp(.5em, 6vw, 2em);
   transition: .3s;
   border-bottom: 1px solid transparent;

   section.layout-nav-list {
      ul {
         display: flex;
         list-style: none;

         li {
            margin-left: clamp(.5em, 4vw, 2em);      
            cursor: pointer;
            position: relative; 
            @include Flex-c-c; 

            &.line {
               width: 1px;
               height: 20px;
               background: $color-blue-light;          
            }

            h5 {
               transition: .3s;
               text-transform: uppercase; 
               font-size: clamp(.65rem, 3vw, 1rem);
            }

            span {
               @include Absolute50Translate;
               opacity: 0;
               transition: .3s;
               pointer-events: none;
            }

            &.sign-in {
               color: $color-grey-light;

               h5 {        
                  font-family: 'IBM Plex Mono', monospace; 
                  font-size: clamp(.65rem, 3vw, .9rem); 
               }
            }

            &:hover {
               h5 {
                  color: $color-blue-light;
               }

               span {
                  top: 100%;
                  opacity: 1;
                  transform: translate(-50%, 0);
                  color: $color-orange-light;
               }
            }
         }
      }
   }

   section.layout-nav-icons {
      @include Flex-none-c;

      div.search-icon {
         width: clamp(15px, 6vw, 25px);
         height: clamp(15px, 6vw, 25px);
         position: relative;

         input {
            @include Absolute('100%', '0');
            height: 100%;
            background: #252525;
            font-family: 'IBM Plex Mono', monospace;
            outline: 0;
            border: 1px solid rgb(80, 80, 80);
            border-radius: .15em;
            color: $color-grey-light;
            font-weight: 400;
            padding: 0 .5em;
            font-size: clamp(.7rem, 3vw, .8rem);
            transition: .3s;
            z-index: 99;
         }

         svg {
            width: 100%;
            height: 100%;
         }
      }

      div.icons-menu {
         margin-right: clamp(.5em, 6vw, 1.5em);
         width: clamp(15px, 6vw, 22px);
         height: clamp(11px, 4vw, 16px);
         position: relative;
         z-index: 22;
         cursor: pointer;

         $tops: (
            1: '0',
            2: '50%',
            3: '100%'
         );

         span.line {
            display: block;
            width: 100%;
            height: 2px;
            background: $color-white;
            position: absolute;
            pointer-events: none;
            transition: .4s;       

            @each $i, $x in $tops {
               &:nth-child(#{ $i }) {
                  top: #{ $x };
               }
            }
         }

         &.active { span { background: $color-red-light; } }
      }
   }
}

@media (max-width: 480px) { nav.layout-nav { section.layout-nav-icons { div.icons-menu { span.line { height: 1px; } } } } }